<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gd_chat</title>
    <head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
</head>
</head>
<body>
<div id="container">
    <div id="left">
    {% for user in users %}
        {% for s in status %}
            {% if user.username != cur_user.username %}
                {% if user.username == s.user  %}
                    {% if s.is_online %}
                        <a href="/users/get/{{ user.id }}/"><p><h2><img src="{{ STATIC_URL }}gfx/online.png" alt="Online Icon" style="width:10px;height:10px">{{ user.first_name }}</h2></p></a>
                    {% else %}
                        <a href="/users/mail/{{ user.id }}/"><p><h2><img src="{{ STATIC_URL }}gfx/ofline.png" alt="Ofline Icon" style="width:10px;height:10px">{{ user.first_name }}</h2></p></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
    <div id="right">
    <iframe src="/chat" width=100% height="500px">
    </div>
</body>
</html>