<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gd_chat</title>
    <head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">


<script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}main.js"></script>


    <script>
        function recieved_chat()
    {
        var element = document.getElementById("switch");
        element.innerHTML = "<ul id="+"'chat_result'"+"></ul>";
    }
        function sent_chat()
    {
        var element = document.getElementById("switch");
        element.innerHTML = "<ul id="+"'chat_result1'"+"></ul>";
    }
    </script>

</head>

<body onload="callAjax()">
<div id="container">
    <div id="header">
        <div id="username">{{ cur_user.first_name }}</div>
    </div>
    <div id="left">
    {% for user in users %}
        {% for s in status %}
            {% if user.username != cur_user.username %}
                {% if user.username == s.user  %}
                    {% if s.is_online %}
                        <div id="user"><a href="/users/get/{{ user.id }}/"><p><img src="{{ STATIC_URL }}gfx/online.png" alt="Online Icon" style="width:10px;height:10px">&nbsp;&nbsp;&nbsp;{{ user.first_name }}</p></a></div>
                    {% else %}
                        <div id="user"><a href="/users/mail/{{ user.id }}/"><p><img src="{{ STATIC_URL }}gfx/ofline.png" alt="Ofline Icon" style="width:10px;height:10px">&nbsp;&nbsp;&nbsp;{{ user.first_name }}</p></a></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
    <div id="right">
        <div id="chat_type">
            <table>
                <tr>
                    <td><a href="#" onclick="recieved_chat()">All Recieved Messages</a></td>
                    <td><a href="#" onclick="sent_chat()">All Sent Messages</a></td>
                </tr>
            </table>

        </div>
        <div id="switch">
            <ul id="chat_result">
            </ul>
        </div>
    </div>
</body>
</html>