<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gd_chat</title>
    <head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">


<script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}main.js"></script>


</head>

<body onload="callAjax2()">
<div id="container">
    <div id="header">
        <div id="username">{{ cur_user.first_name }}</div>
    </div>
    <div id="left">
            {% block content %}
 {{ user }}



    </div>
    <div id="right">

        <div id="switch">
            <ul id="chat_result2">

            </ul>


        </div>

    </div>
                <div id="footer">
                    <form id="msg-form" method="post" action="">{% csrf_token %}
                        {{ form }}
                    <input type="submit"  name="send" value="Send" />
                    </form>
                   <!-- <form id="post-form" method="post" action="">{% csrf_token %}
                    <input type="submit"  name="send" value="Send" />
                    </form>-->
                </div>
</body>
</html>













{% endblock %}
</body>
</html>